aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair==5.2.0
anaconda-client  # Assuming this and other Anaconda-specific packages are placeholders for demonstration
appdirs==1.4.4
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.7.0
bokeh
botocore
Bottleneck
brotlipy==0.7.0
cachetools==5.3.2
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
conda
conda-build
conda-package-handling
conda-repo-cli==1.0.75
conda-verify==3.4.2
cryptography
cssselect==1.1.0
cycler
cytoolz
dask
datasets
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
dill
distributed
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
gitdb==4.0.11
GitPython==3.1.41
glob2
gmpy2
greenlet
h5py
heapdict
holoviews
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
importlib-resources==6.1.1
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab-server
kaleido
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numba
numexpr
numpy
numpydoc
openpyxl==3.0.10
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.2
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich==13.7.0
rope
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
service-identity
simpleaudio==1.0.4
sip
six
smart-open
smmap==5.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit==1.30.0
streamlit-pydantic==0.6.0
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
Twisted
typing_extensions
tzdata
tzlocal==5.2
uc-micro-py
ujson
Unidecode
urllib3
validators==0.22.0
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard
